@model FriendsMVCVScode001.Models.FriendViewModel
@{
    ViewData["Title"] = "Edit Friend";
}
<h1>Edit</h1>
<h4>@ViewData["Title"]</h4>
<form method="post" class="w-75 mx-auto">
    <div class="mb-3">
        <label for="Id" class="form-label">Id:</label>
        <input type="text" class="form-control" id="Id" asp-for="Id" readonly />
    </div>
    <div class="mb-3">
        <label for="Firstname" class="form-label">Firstname:</label>
        <input type="text" class="form-control" id="Firstname" asp-for="Firstname" />
    </div>
    <div class="mb-3">
        <label for="Lastname" class="form-label">Lastname:</label>
        <input type="text" class="form-control" id="Lastname" asp-for="Lastname" />
    </div>
    <div class="mb-3">
        <label for="Mobile" class="form-label">Mobile:</label>
        <input type="text" class="form-control" id="Mobile" asp-for="Mobile" />
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email:</label>
        <input type="text" class="form-control" id="Email" asp-for="Email" />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-info mx-auto d-inline" value="Save" />
        <input type="button" class="btn btn-primary mx-auto d-inline" action="action"
            onclick="window.location.href='../'" value="Cancel" />
    </div>
</form>
